body {
	background: url(1.jpg);
	margin: 10px;
	padding: 40px;
}
h1 {
	margin: 1px;
	padding: 1px;
	color: #e2a023;
	font-style: italic;
	font-size: 40px;
}
a {
	text-decoration: none;
}
.menu {
	margin: 100px;
}
.menu ul li {
	display: inline-block;
	color: white;
	border: 10px solid #e0ac49;
	margin: 10px;
	padding: 10px;
	transition: all 1s ease;
}
.menu li a:hover {
	background: #b1a18d;
	color: white;
	box-shadow: 2px 4px 6px 8px;
	transition: all 1s ease;
	margin: 10px;
	padding: 10px;
}

.menu ul{
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: Helvetica;
	font-style: italic;
	font-size: 25px;
}

.menu ul ul{
	display: none;
	position: absolute;
	margin: 10px;
	padding: 10px;
}

.menu li:hover ul{
	display: block;
}